export N_PREFIX=$HOME/.n
export PATH=$HOME/local/bin:$PATH
export PATH=~/npm-global/bin:$PATH
export HISTIGNORE="cd [a-zA-Z0-9_.*]*:mv [a-zA-Z0-9_.*]*"

# Why this is not exported in OS X, I have no idea
export HOSTNAME

# mac tar fixing
export COPYFILE_DISABLE=true

export NODE_REPL_HISTORY_FILE=~/.node-history
export HISTSIZE=10000
export HISTFILESIZE=1000000000
export HISTCONTROL=ignoreboth:erasedups
# I prefer to use : instead of ^ for history replacements
# much faster to type.  It'd be neat to use /, but then it gets
# confused with absolute paths, like "/bin/env"
export histchars="!:#"

export EDITOR=vim
export VISUAL="$EDITOR"
export MANPAGER=more

export ANDROID_HOME=~/Library/Android/sdk
export PATH=${PATH}:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools

export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

export LANG=en
# Set GPG TTY
export GPG_TTY=$(tty)
